.header{

    width: 100%;
    height: 15vh;
    /* background-color: rgb(159, 236, 112); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.header img{
    width: 200px;
    margin-top: 40px;
    /* align-items: center; */
}
.header ul{
    display: flex;
    flex-direction:row;
    align-items: center;
}
.header ul li{

    list-style: none;
    font-size: 20px;
    margin-left: 60px;
}
.header ul li a{
    text-decoration: none;
    color: black;
}
.header ul li a:hover{
    color: green;
}
.header button{
    background-color:none;
    border: none;
    font-size: 20px;
}

.header .mobile-menu-icon{

    display: none;

}

@media only screen and (max-width: 768px) 
{
   .header{
     overflow-x:hidden;
     overflow: hidden;

   }
  
   
    .logo img{
        position:absolute;
        top:-3%;
        left: 5%;
        width:150px;
       margin-right:80%;

    }
   .header .nav-link{
       display: none;
       /* padding-top: 40px; */
        /* background-color: aqua; */
    }
    .header button{
        fill:none;
        background-color:none;
        border: none;
        outline: none;
    }
    .nav-links-mobile{
        position: absolute;
       width: 92%;
        height: 100%;
        list-style:none ;
        box-shadow: pink;
        left: 0;
        /* top: 0; */
        transition: all 0.5s ease-in-out;
        
        overflow-x: hidden;
        background-color: rgb(76, 255, 130);
        /* text-align: center; */
    }
    .header ul li{
        /* padding: 32px; */
        padding-top: 40px;
        width: 100%;
        transition: all 0.5s ease-in-out;
       /* text-align: center; */
    } 

    .header .mobile-menu-icon{
        position: absolute;
        display: block;
        right: 20px;

    
    }
  .header ul li a{
    color: rgb(0, 0, 0);
   
      
  }
  .header ul{
    display: flex;
    padding-top: 100px;

    flex-direction: column;
    /* align-items: center; */
    margin: 0 auto;
    

}
.header ul li{
   
   
    font-size: 20px;
    margin: 0 auto;
    margin-right: 200px;
    
}
/* .header ul li{
    margin-top: 200px;
    padding: 2px;
    
    
}  */
.header ul {
    margin-top: 647px;   

}

}